[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
billiard = ">=3.6.3.0,<4.0"
tqdm = "*"
psutil = "*"

[dev-packages]
black = "*"
numpy = "*"
pytest = "*"
pytest-codecov = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
